.content {
  display: flex;
  position: absolute;
  margin: 30px;
  top: 74%;
}
.openMovie {
  font-size: 18px;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  border: 0;
  background-color: rgb(24, 81, 135);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.openTrailer {
  margin-left: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgb(62, 60, 60);
}
.favorite {
  margin: 0 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(62, 60, 60);
  .img {
    height: 100%;
    width: 100%;
    font-size: 25px;
    top: auto 0;
  }
}
.activeFav {
  margin: 0 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 0;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(255, 253, 253) !important;
  .img {
    height: 100%;
    width: 100%;
    font-size: 25px;
    top: auto 0;
    color: rgb(0, 0, 0);
  }
}
@media screen and (min-width: 150px) and (max-width: 500px) {
  .content {
    margin-left: 20px;
    top: 162%;
    height: 40px;

    .openMovie {
      font-size: 15px;
      border-radius: 6px;
      font-weight: bold;
      padding: 6px 10px;
    }
    .openTrailer {
      margin-left: 8px;
      font-size: 15px;
      padding: 6px 10px;

      font-weight: bold;
    }
    .favorite {
      .img {
        font-size: 1px;
        width: 22px;
        height: 22px;
        border-radius: 6px;
      }
    }
    .activeFav {
      background-color: rgb(255, 253, 253) !important;
      .img {
        font-size: 1px;
        width: 22px !important;
        height: 22px !important;
        border-radius: 6px;
        font-size: 25px;
        color: rgb(0, 0, 0);
      }
    }
  }
}
