$font-family: "Montserrat", sans-serif;

.category {
  padding-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.item {
  margin-left: 25px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: $font-family;
  color: gray;
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  transition: color 0.3s;
  p {
    font-size: 15px;
  }
  &:hover {
    color: #ffffff;
  }
}
.itemActive {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #fffefa;
  font-family: $font-family;
  font-size: 1.2rem;
  transition: color 0.3s;
  border-bottom: 2px solid #6c9bcd;
  border-radius: 5px;
  padding-bottom: 10px;
}
@media screen and (min-width: 150px) and (max-width: 500px) {
  .list {
    display: none;
  }
}
